os: linux
jobs:
  include:
    - os: linux
      dist: trusty
      language: node_js
      node_js:
        - 12
      addons:
        rethinkdb: '2.3'
      script: true
    - os: linux
      dist: xenial
      language: node_js
      node_js:
        - 12
      addons:
        rethinkdb: '2.3'
      script: true
    - os: linux
      dist: bionic
      language: node_js
      node_js:
        - 12
      addons:
        rethinkdb: '2.3'
      script: true
    - os: linux
      dist: focal
      language: node_js
      node_js:
        - 12
      addons:
        rethinkdb: '2.3'
      script: true
